/* ---------BLANKET STYLING--------- */
.hide{
  display: hidden;
}

body{
    font-family: century gothic;
}

a, a:hover{
  text-decoration: none;
}

/* -------FIXED TOP NAV BAR ------*/
nav{
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  background-color: lightgray;
  opacity: .8;
  line-height: 55px;
}

#logo-icon{
  margin: 7.5px 20px;
}

.nav-anchor{
  margin-right: 40px;
  font-family: century gothic;
  font-size: 20px;
  font-weight: bold;
  color: white;
  float: right;
}

nav a:hover{
  font-weight: bolder;
  color: black;
}

/* -------MAIN page - LANDING -------*/
#landing{
  background-color: lightgray; /*temporary style DELETE*/
  background-image: linear-gradient( rgba(100, 100, 100, .2), rgba(100, 100, 100, .75) ), url("../img/deal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}

#large-logo{
  width: 365px;
  height: 365px;
  border: 5px dashed white;
  border-radius: 100%;
}

#ring-med{
  margin-left: 45px;
  margin-top: 45px;
  width: 265px;
  height: 265px;
  border: 5px dashed white;
  border-radius: 100%;
}

#ring-sml{
  margin-left: 45px;
  margin-top: 45px;
  width: 165px;
  height: 165px;
  border: 5px dashed white;
  border-radius: 100%;
}

#greeting{
  color: white;
  overflow: hidden;
  float: right;
  margin-top: 50px;
  margin-right: 10%;
}

#greeting h1{
  font-family: sans-serif;
  font-size: 45px;
  font-weight: bolder;
  line-height: 100px;
  letter-spacing: 7px;
}

#greeting h2{
  font-size: 20px;
}

/*------- MAIN PAGE - START PATH------ */
#start, #learn{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .75s ease-in-out;
  -moz-transition: background-color .75s ease-in-out;
  -webkit-transition: background-color .75s ease-in-out;
}

#start:hover, #learn:hover{
  background-color: #f2f2f2;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}

#start:hover, #learn:hover{
  box-shadow: 25px 25px 25px lightgray;
  transition: box-shadow .75s ease-in-out;
  -moz-transition: box-shadow .75s ease-in-out;
  -webkit-transition: box-shadow .75s ease-in-out;
}

#start h1, #learn h1{
  font-weight: light;
  font-size: 40px;
  color: gray;
  letter-spacing: 8px;
  margin: 55px 0;
}

#start img, #learn img{
  border: 3px solid black; /*temporary style DELETE before launch*/
  width: 75px;
  height: 75px;
}

#start h2{
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin: 60px 0 40px 0;
  padding-left: 40px;
  width: 100%;
}

#learn h2{
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin: 60px 0 40px 0;
  padding-right: 40px;
  width: 100%;
  text-align: right;
}

#start p, #learn p{
  color: black;
  padding: 0 40px 0 40px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 60px;
}

#learn p{
  text-align: right;
}

/* -------------MAIN PAGE - ABOUT-------------- */
#main-about{
  width: 100%;
  background-color: #f2f2f2;
  padding: 100px;
}

#main-about h1{
  font-size: 35px;
  font-weight: bold;
  border-bottom: 5px solid lightgray;
  width: 300px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#main-about p{
  font-size: 18px;
  line-height: 35px;
}

/* ---------------MAIN PAGE - MEDIA CATEGORIES-------------- */
#categories{
  width: 100%;
  height: auto;
  padding: 70px;
  overflow: hidden;

}

.categories-contain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 30px;
  margin: 30px;
  height: auto;
}

.media-types{
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: 30px;
  border: 2px solid lightgray;
  box-shadow: 25px 25px 25px lightgray;
}

/* ----------MAIN PAGE - STAFF PROFILE PICS--------- */
#staff{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#mentors, #instructors{
  width: 50%;
}

#mentors h1, #instructors h1{
  color: black;
  font-size: 35px;
  font-weight: bold;
  /* margin: 60px 0 40px 0; */
  padding-left: 40px;
  width: 100%;
}

#mentors p, #instructors p{
  padding: 40px;
  line-height: 30px;
}

.prof-pic-container{
  width: 300px;
  height: 200px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.prof-pic{
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border: 3px solid gray;
  border-radius: 100%;
}

.prof-pic-front{
  background-color: lightgray;
  position: relative;
  left: 100px;
  z-index: 3;
}

.prof-pic-mid{
  background-color: darkgray;
  /* position: relative; */
  /* left: -200px; */
  z-index: 2;
}

.prof-pic-back{
  background-color: gray;
  position: relative;
  left: -100px;
  z-index: 1;
}
